.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.ng-fa-icon {
  color: white;
  transition: all ease-in-out 400ms;
}

.ng-fa-icon:hover {
  color: #303030;
}

.content {
  padding: 5px;
}
